<div id="<%= dom_id model %>">
  <p>
    <strong>Brand:</strong>
    <%= model.brand %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= model.model %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= model.price %>
  </p>

</div>
